@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face { 
  font-family: "Futura"; 
  src: url("./assets/fonts/FutuBkIt.ttf") format('ttf'); 
} 

body {
  background: #000;
}

.font {
  font-family: "Fatura", sans-serif;
}
